*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


header img{
    width: 20%;
    margin-top: 0.5em;
    margin-bottom: 1em;
}

.menu{
    margin-bottom: 0.5em;
}

p{
    text-align: center;
}
